Stripe integration
    *1 extend DB to store the Stripe customer ID or token.in the Users table
    *Javascript should prevent pro for from submitting & send card info to stripe.
    Stripe returns Card Token. (one time use token)
    *Javascript takes card token hidden fields (plan, card token) plus the Devise email, psw data.
    *Once validated, Send user info (email, plan id) & Card token to Stripe. Stripe will create a Subscription 
    and send back a Customer token Now Rails should store Customer token and other inf locally.
    
    
    Stripe Integration
    * User should have custom token in the users table
    * Javascript should prevent Prp form from form submiting when user fills it out,
    and should send card info to Stripe. Stripe will return a Card Token.
    * Javascript will take basic fields and Card Token and planId and sent to rails.
    * Send userId email planId and Card Toek to Stripe server and Stripe will return a Customer Token. Rails should save Customer and user info, save locally.
    
    User Priles
    * Each use should have a single profile.
    * User should see link to create profiles when they sign up.
    * User should be able to create and view their profile. They also be able to view the profile.The use should be able to upload a picture.
    * Users should be able to view all profile. Pro users will also see contavt information.
    
    OAuth
    client = 733411917707-rabsbfdh2d5nna2ka5p44u3jrgcsl8ph.apps.googleusercontent.com
    secret = NGxG1daJwFHY3Ckcuxt89P0a
    