
<div class= "container-fluid text-center">
  <h1>About Page</h1>
  <p>We are DevMatch a company that focuses on natching entrapenours with developers
  and doing better things for the world.</p>
</div>